// Contact Section

section#contact {
	position: relative;
	background-color: rgba(0,0,0,0.6);

	&::after {
	  content: "";
		top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  position: absolute;
		background-image: url('../img/header-bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
	  opacity: 0.6;
	  z-index: -1;   
	}

	.section-heading {
		color: $color-white;
	}
	.form-group {
		margin-bottom: 25px;
		input,
		textarea {
			padding: 20px;
		}
		input.form-control {
			height: auto;
		}
		textarea.form-control {
			height: 236px;
		}
	}
	textarea.form-control {
		min-width: 100%;
		max-width: 100%;
		min-height: 230px;
	}
	.form-control:focus {
		border-color: $theme-primary;
		box-shadow: none;
	}
	::-webkit-input-placeholder {
	   @include heading-font;
	   text-transform: initial;
	   color: $gray-light;
	}
	:-moz-placeholder { /* Firefox 18- */
	   @include heading-font;
	   text-transform: initial;
	   color: $gray-light;
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   @include heading-font;
	   text-transform: initial;
	   color: $gray-light;
	}
	:-ms-input-placeholder {  
	   @include heading-font;
	   text-transform: initial;
	   color: $gray-light;
	}
	.text-danger {
		color: $theme-danger;
	}

	.contact-info {
		p {
			font-size: 14px;
			line-height: 1.2;
		}
	}
}