.price-ticket {
  width: 300px;
  height: 80px;
  @include flex($justify-content: space-between);
  position: relative;
  background: $color-white;
  border: 1px solid #CCC;
  border-radius: 2px;
  margin: 50px auto;
  padding-left: 15px;

  &:before,
  &:after {
	  content: '';
	  display: block;
	  width: 295px;
	  height: 70px;
	  background: $color-white;
	  border: 1px solid #CCC;
	  border-radius: 2px;
	  transform: rotate(2deg);
	  position: absolute;
	  top: 10px;
	  left: 0;
	  z-index: -1;
	}

	&:after {
	  height: 75px;
	  transform: rotate(-2deg);
	  top: 2px;
	  z-index: -2;  
	}

	> span {
	  display: block;
	  width: 45px;
	  background: $gray-darker;
	  position: absolute;
	  top: 5px;
	  left: -15px;

	  /* Text */
	  color: $color-white;
	  font-size: 12px;
	  padding: 0px 7px;
	  text-align: right;
	}

	> .info,
	> .price {
	  display: inline-block;
	  font-size: 16px;
	  margin-bottom: 0;
	  
	  /* Text */
	  color: $gray-darker;
	  font-weight: 600;
	}

	> .info {
	  line-height: 25px;
	}

	> .price {
	  width: 60px;

	  /* Text */
	  color: $theme-primary;
	  text-align: center;
	  font-weight: 700;
	  padding-right: 15px;
	}
}