/*------------------------------------------------------------------
	[Header]
------------------------------------------------------------------*/

header {
	background-color: $color-heading;
	background-image: url('../img/header-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	@include background-cover;
	text-align: center;
	color: white;
	.intro {
		padding-top: 100px;
		padding-bottom: 50px;
		.intro-heading {
			@include heading-font;
			font-weight: 700;
			font-size: 30px;
			line-height: 50px;
			margin-bottom: 25px;
		}
	}
}

@media(min-width:$screen-sm-min) {
	header {
		.intro {
			padding-top: 250px;
			padding-bottom: 200px;
			.intro-heading {
				font-size: 75px;
				line-height: 75px;
				margin-bottom: 50px;
			}
		}
	}
}
