// Custom Navigation Bar

.navbar-custom {
	background-color: $color-white;
	border-color: transparent;
	.navbar-brand {
		color: $theme-primary;
		@include heading-font;
		font-weight: 700;
		&:hover,
		&:focus,
		&:active,
		&.active {
			color: darken($theme-primary, 10%);
		}
	}
	.navbar-collapse {
		border-color: fade-out(white, .02);
	}
	.navbar-toggle {
		background-color: $color-white;
		border-color: $gray-lighter;
		@include heading-font;
		color: $gray-darker;
		font-size: 12px;
		font-weight: 700;
		&:hover,
		&:focus {
			background-color: $theme-primary;
			color: $color-white;
		}
	}
	.nav {
		li,
		.open .dropdown-menu>li,
		.open {
			>a {
				@include heading-font;
				font-weight: 400;
				letter-spacing: 1px;
				color: $gray-dark;
				background-color: transparent;
				&:hover,
				&:focus {
					background-color: transparent;
					color: darken($theme-primary, 10%);
					outline: none;
				}
			}
		}
	}
	.navbar-nav>.active>a {
		border-radius: 0;
		color: white;
		background-color: $theme-primary;
	}
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a:focus {
		color: white;
		background-color: darken($theme-primary, 10%);
	}
}

@media(min-width:$screen-sm-min) {
	.navbar-custom {
		background-color: transparent;
		padding: 25px 0;
		transition: padding 0.3s;
		border: none;
		.container-fluid {
			@include flex;
		}
		.navbar-brand {
			font-size: 2em;
			transition: all 0.3s;
		}
		.navbar-collapse {
			@include flex;
			width: 100%;
		}
		.nav {
			@include flex;
			width: 100%;
			li {
				a {
					color: $color-white;
					transition: all 0.3s;
				}
				.dropdown-menu {
					&:before {
						content: "";
				    width: 0;
				    height: 0;
				    border-width: 15px;
				    border-style: solid;
				    border-color: transparent transparent $color-white transparent;
				    position: absolute;
				    top: -30px;
				    left: calc(50% - 15px);
					}
				}
			}
		}
		.navbar-nav>.active>a {
			border-radius: 3px;
		}
	}
}

// Navbar Change on Scroll

@media(min-width:$screen-sm-min) {
	.navbar-custom.affix {
		background-color: $gray-darker;
		padding: 10px 0;
		transition: transform 0.3s;
		.navbar-brand {
			font-size: 1.5em;
		}
		.navbar-nav li a {
			font-size: 12px;
		}

		&.out {
			transform: translate3d(0, -100%, 0);
		}
	}
}