// Global Section Styles

section {
	padding: 100px 0;
	.section-heading {
		font-size: 40px;
		margin-top: 0;
		margin-bottom: 15px;
	}
	.section-subheading {
		font-size: 16px;
		@include serif-font;
		text-transform: none;
		font-style: italic;
		font-weight: 400;
		margin-bottom: 75px;
	}
	.section-text {
		@include serif-font;
	}
}

@media(min-width:$screen-sm-min) {
	section {
		padding: 150px 0;
	}
}

@media(max-width:$screen-sm-min) {
	section {
		.section-heading {
			font-size: 28px;
		}
		.section-text {
			font-size: 14px;
		}
	}
}