/*--------------------------------------------------
	[Divider style]
----------------------------------------------------*/

hr.divide-bar {
	border-width: 3px;
	border-color: $theme-primary;

	&.inverse {
		border-color: $color-white;
	}

	&.sm {
		max-width: 50px;
	}

	&.md {
		max-width: 150px;
	}

	&.lg {
		max-width: 80%
	}
}

/*--------------------------------------------------
	[Font Weight]
----------------------------------------------------*/

.fweight-300 { @include font($weight: 300 !important); }
.fweight-400 { @include font($weight: 400 !important); }
.fweight-500 { @include font($weight: 500 !important); }
.fweight-600 { @include font($weight: 600 !important); }
.fweight-700 { @include font($weight: 700 !important); }

/*--------------------------------------------------
	[Font Size]
----------------------------------------------------*/

.fsize-10 { @include font($size: 10px ); }
.fsize-12 { @include font($size: 12px ); }
.fsize-14 { @include font($size: 14px ); }
.fsize-16 { @include font($size: 16px ); }
.fsize-18 { @include font($size: 18px ); }
.fsize-20 { @include font($size: 20px ); }
.fsize-22 { @include font($size: 22px ); }
.fsize-24 { @include font($size: 24px ); }

/*--------------------------------------------------
	[Text Faded]
----------------------------------------------------*/

.text-faded {
  color: rgba(255,255,255,.8);
}