/*------------------------------------------------------------------
	[Button]
------------------------------------------------------------------*/

// Restyled Primary Buttons

.btn {
	border-radius: 300px;
}

%btn-shared {
	@include heading-font;
	font-weight: 700;
	transition: all 0.35s ease 0s, transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0.2s;
}

.btn-primary {
	@extend %btn-shared;
	@include button-variant(white, $theme-primary, $theme-primary);
}

.btn-secondary {
	@extend %btn-shared;
	@include button-variant($gray-darker ,white, white);
}

.btn-md {
	@include button-size($btn-padding: 10px 16px);
}

.btn-xl {
	@include button-size($btn-font-size: 18px ,$btn-padding: 20px 40px);
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: none;
}


// Related reading btns
.floating-content__btn,
.floating-content__link {
	border-radius: 5px;
  text-transform: capitalize;
  margin: 8px 5px;
  font-weight: 600;
}

// Social Buttons

ul.social-buttons {
	margin-bottom: 0;
	li {
		a {
			display: block;
			background-color: $gray-darker;
			height: 40px;
			width: 40px;
			border-radius: 100%;
			font-size: 20px;
			line-height: 40px;
			color: white;
			outline: none;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			transition: all 0.3s;
			&:hover,
			&:focus,
			&:active {
				background-color: $theme-primary;
			}
		}
	}
}

@media(max-width: $screen-xs-max) {
	.btn-md {
		@include button-size(12px, 400, 10px 14px);
	}

	.btn-xl {
		@include button-size(14px , 400, 12px 18px);
	}
}