/*------------------------------------------------------------------
	[Base]
------------------------------------------------------------------*/

// Global Components

body {
	overflow-x: hidden;
	@include body-font;
}

.text-muted {
	color: $gray-light;
}

.text-primary {
	color: $theme-primary;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

a {
	color: $color-link;
}

a:hover,
a:focus,
a:active,
a.active {
	color: $color-link-hover;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	@include heading-font;
	font-weight: 700;
}

.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: $gray-lighter;
}

.bg-darkest-gray {
	background-color: $gray-darker;
}

blockquote {
	border-left: 3px solid $gray-light;
	color: $gray-light;
	font-size: 16px;

	.blockquote-heading {
		color: $gray-dark;
		text-transform: capitalize;
		font-size: 18px;
		margin-top: 25px;
	}
}