/*------------------------------------------------------------------
	[Services Section]
------------------------------------------------------------------*/

.services {
	.service {
		margin-top: 30px;
		margin-bottom: 30px;
		&-img {
			max-width: 150px;
		}

		&-heading {
			margin: 15px 0;
			text-transform: none;

			a {
				color: $gray-dark;
			}
		}

		&-list {
			list-style: circle;
			text-align: left;
			margin: 40px 0;
			font-size: 16px;

			li {
				margin: 10px 0;
			}
		}
	}
}