/*------------------------------------------------------------------
	[Services Section]
------------------------------------------------------------------*/

.text-block {
	&__item {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	&__img {
		max-width: 150px;
	}

	&__heading {
		margin: 15px 0;
		text-transform: none;

		a {
			color: $gray-dark;
		}
	}

	&__list {
		list-style: circle;
		text-align: left;
		margin: 40px 0;
		font-size: 16px;

		li {
			margin: 10px 0;
		}
	}
}