/*------------------------------------------------------------------
  [Footer]
------------------------------------------------------------------*/

footer {
	padding: 25px 0;
	text-align: center;
	span.copyright {
		line-height: 40px;
		@include heading-font;
		text-transform: capitalize;
	}
}